exclude: "^conda.recipe|assets|docs"

repos:
  - repo: https://github.com/srstevenson/nb-clean
    rev: 3.2.0
    hooks:
      - id: nb-clean
        args:
          - --preserve-cell-outputs
          - --remove-empty-cells
        types: [jupyter]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        exclude_types: ["python", "jupyter", "shell", "gitignore"]

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        types_or: [python, pyi]

  - repo: https://github.com/yzhang-gh/black-nb
    rev: v0.7.0
    hooks:
      - id: black-nb