exclude: "^conda.recipe"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        exclude_types: ["python", "jupyter", "shell", "gitignore"]

  - repo: https://github.com/omnilib/ufmt
    rev: v2.2.0
    hooks:
      - id: ufmt
        additional_dependencies:
          - black == 23.9.1
          - usort == 1.0.7

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
