[tool.black]
line-length = 120
target-version = ['py35', 'py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | assets
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''
