# Tests
numpy
pytest
codecov
pytest-cov
pytest-xdist
dill
# Test contrib dependencies
scipy
pytorch_fid
tqdm
scikit-learn
matplotlib
tensorboardX
visdom
polyaxon
polyaxon-client
wandb
mlflow
neptune-client
tensorboard
pynvml
clearml
scikit-image
py-rouge
nltk
pytorch_fid
# Examples dependencies
pandas
gym
mkl
