# Tests
numpy
pytest
codecov
pytest-cov
pytest-xdist
dill
# Test contrib dependencies
tqdm
scikit-learn
matplotlib
tensorboardX
visdom
polyaxon-client
mlflow
neptune-client
tensorboard
pynvml; python_version > '3.5'
trains>=0.15.1rc0
# Examples dependencies
pandas
gym