# Tests
numpy
pytest
codecov
pytest-cov
pytest-xdist
dill
# Test contrib dependencies
tqdm
scikit-learn
matplotlib
tensorboardX
visdom
polyaxon-client
wandb
mlflow
neptune-client
tensorboard
pynvml
clearml
scikit-image
# Examples dependencies
pandas
gym
