{%- set external_urls = {
  'github': 'https://github.com/pytorch/ignite',
  'github_issues': 'https://github.com/pytorch/ignite/issues',
  'contributing': 'https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md',
  'docs': 'https://pytorch.org/ignite/index.html',

  'home': 'https://pytorch.org/ignite/',
  'get_started': 'https://pytorch.org/ignite/get-started',

  'concepts': 'concepts.html',
  'quickstart': 'quickstart.html',
  'examples': 'examples.html',
  'faq': 'faq.html'
}
-%}