{%- set external_urls = {
  'github': 'https://github.com/pytorch/ignite',
  'github_issues': 'https://github.com/pytorch/ignite/issues',
  'contributing': 'https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md',
  'docs': 'https://pytorch.org/ignite/index.html',
  'twitter': 'https://twitter.com/pytorch',
  'facebook': 'https://www.facebook.com/pytorch',
  'slack': 'https://pytorch.slack.com',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://pytorch.org/tutorials',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://pytorch.org/ignite/',
  'get_started': 'https://pytorch.org/ignite/get-started',
  'features': 'https://pytorch.org/features',
  'ecosystem': 'https://pytorch.org/ecosystem',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
  'quickstart': 'quickstart.html',
  'examples': 'examples.html',
  'faq': 'faq.html'
}
-%}
