name: Format python code

on:
  push:
    paths:
      - "**.py"
      - "setup.cfg"
      - "requirements-dev.txt"
      - "pyproject.toml"
      - ".github/workflows/code-style.yml"
      - "!assets/**"
      - "!docker/**"
      - "!docs/**"
      - "!conda.recipe"

jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - if: github.event_name == 'push'
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          pip install -r requirements-check.txt
          pre-commit run -a

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "autopep8 fix"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
