name: Format python code

on:
  push:
    paths:
      - "**.py"
      - "!assets/**"
      - "!.circleci/**"
      - "!docker/**"
      - "!docs/**"
      - "!conda.recipe"

  # pull_request:
  #     paths:
  #       - "**.py"
  #       - "assets/**"
  #       - ".circleci/**"
  #       - "docker/**"
  #       - "docs/**"
  #       - "conda.recipe"

  pull_request_target:
    paths:
      - "**.py"
      - "!assets/**"
      - "!.circleci/**"
      - "!docker/**"
      - "!docs/**"
      - "!conda.recipe"


jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - if: github.event_name == 'push'
        uses: actions/checkout@v2
      #       - if: github.event_name == 'pull_request'
      #         uses: actions/checkout@v2
      #         with:
      #           ref: ${{ github.head_ref }}
      - if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - run: |
          bash ./tests/run_code_style.sh install
          bash ./tests/run_code_style.sh fmt

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "autopep8 fix"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
