name: Build docs

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - "tests/**"
      - "docker/**"
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-deploy:
    permissions:
      contents: write
    if: (github.ref == 'refs/heads/master' && github.event_name == 'push') || github.event_name == 'release'
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "${{ matrix.python-version }}"
          activate-environment: true
          enable-cache: true
          cache-suffix: "${{ hashFiles('requirements-dev.txt') }}-${{ hashFiles('docs/requirements.txt') }}"
          cache-dependency-glob: |
            **/docs/requirements.txt
            **/requirements-dev.txt
            **/pyproject.toml

      - run: sudo npm install katex -g

      - name: Install docs deps
        run: bash .github/workflows/install_docs_deps.sh

      - name: Build docs
        run: bash .github/workflows/build_docs.sh

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
          publish_branch: gh-pages
          commit_message: Deploy pytorch/ignite docs
          force_orphan: true

  linkcheck:
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          enable-cache: true
          cache-suffix: "${{ hashFiles('requirements-dev.txt') }}-${{ hashFiles('docs/requirements.txt') }}"
          cache-dependency-glob: |
            **/docs/requirements.txt
            **/requirements-dev.txt
            **/pyproject.toml

      - name: Install docs deps
        run: bash .github/workflows/install_docs_deps.sh

      - name: make linkcheck
        working-directory: ./docs/
        run: make linkcheck

  doctest:
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "${{ matrix.python-version }}"
          activate-environment: true
          enable-cache: true
          cache-suffix: "${{ hashFiles('requirements-dev.txt') }}-${{ hashFiles('docs/requirements.txt') }}"
          cache-dependency-glob: |
            **/docs/requirements.txt
            **/requirements-dev.txt
            **/pyproject.toml

      - run: sudo npm install katex -g

      - name: Install docs deps
        run: bash .github/workflows/install_docs_deps.sh

      - name: make doctest
        working-directory: ./docs/
        run: |
          make html
          make doctest
          make coverage
