name: PyPI Stable Releases

on:
  release:
    types: [published]

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          python-version: 3.8

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda install -y pytorch torchvision cpuonly -c pytorch
          pip install -r requirements-dev.txt
          pip install --upgrade --no-cache-dir twine
          python setup.py install

      - name: Build and Publish PyPI binaries
        shell: bash -l {0}
        run: |
          python setup.py sdist bdist_wheel
          twine check dist/*
          TWINE_USERNAME="${{ secrets.PYPI_USER }}" TWINE_PASSWORD="${{ secrets.PYPI_TOKEN }}" twine upload --verbose dist/*

  # docker-build-publish:
  #   name: Trigger Build and Push Docker images to Docker Hub
  #   needs: build-publish
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: 3.8
