name: Triage

on:
  # For testing purposes only
  # https://github.com/actions/labeler?tab=readme-ov-file#updating-major-version-of-the-labeler
  pull_request
  # pull_request_target:
#     types: [opened]
#   issues:
#     types: [opened]

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Pull Request Labeler
        uses: actions/labeler@v5
        with:
          configuration-path: pr-labeler-config.yml  # .github is auto-included, https://github.com/actions/labeler?tab=readme-ov-file#inputs
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

# Turned off due to unexpected behavior on issue opening+labeling? https://github.com/pytorch/ignite/issues/1836
#       - name: Welcome
#         uses: actions/first-interaction@v1
#         with:
#           issue-message: "**Thank you for opening your First Issue!**\n\nWe appreciate a lot user's feedback on what we are doing!\n\nIf you'd like to contribute to the project, please check out our [Contributing Guide](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md)."
#           pr-message: "**Thank you for opening your First Pull Request!**\nWe appreciate a lot community contributions as pull requests!\n\nIf you would like to get more details on the project development, please take a look at our [Contributing Guide](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md)."
#           repo-token: ${{ secrets.GITHUB_TOKEN }}
