name: Triage

on:
  pull_request_target:
    types: [opened]
#   issues:
#     types: [opened]

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - name: Pull Request Labeler
#         if: github.event_name == 'pull_request_target'
        uses: actions/labeler@v5
        with:
          configuration-path: .github/labeler.yml
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

# Turned off due to unexpected behavior on issue opening+labeling? https://github.com/pytorch/ignite/issues/1836
#       - name: Welcome
#         uses: actions/first-interaction@v1
#         with:
#           issue-message: "**Thank you for opening your First Issue!**\n\nWe appreciate a lot user's feedback on what we are doing!\n\nIf you'd like to contribute to the project, please check out our [Contributing Guide](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md)."
#           pr-message: "**Thank you for opening your First Pull Request!**\nWe appreciate a lot community contributions as pull requests!\n\nIf you would like to get more details on the project development, please take a look at our [Contributing Guide](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md)."
#           repo-token: ${{ secrets.GITHUB_TOKEN }}
